
.material-modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
  }
  
  .material-modal:focus {
    outline: none;
  }
  
  @media only screen and (max-width: 992px) {
    .material-modal {
      width: 80%;
    }
  }
  
  .material-modal h1, .material-modal h2, .material-modal h3, .material-modal h4 {
    margin-top: 0;
  }
  
  .material-modal .material-modal-content {
    padding: 24px;
  }
  
  .material-modal .material-modal-close {
    cursor: pointer;
  }
  
  .material-modal .material-modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
    text-align: right;
  }
  
  .material-modal .material-modal-footer .btn, .material-modal .material-modal-footer .btn-large, .material-modal .material-modal-footer .btn-small, .material-modal .material-modal-footer .btn-flat {
    margin: 6px 0;
  }
  
  .material-modal-overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
  }
  
  .material-modal.material-modal-fixed-footer {
    padding: 0;
    height: 70%;
  }
  
  .material-modal.material-modal-fixed-footer .material-modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
  }
  
  .material-modal.material-modal-fixed-footer .material-modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
  }
  
  .material-modal.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 45%;
    border-radius: 0;
    will-change: bottom, opacity;
  }
  