.font-baru {
    font-family: 'Baloo Bhai', regular;
}

.footer-color{
	background-color: #af2532 !important;
}

.yellow-font{
    color: #FBC02D;
}

@media only screen and (min-width: 992px) {
    .judul {
        font-size: 5rem !important;
        border: 0px !important;
        border-radius: 0px !important;
    }
}

@media only screen and (max-width: 991px) {
    .judul {
        border-bottom: solid 3px !important;
        font-size: 3rem !important;
    }

}

@media only screen and (max-width: 568px) {
    .judul {
        font-size: 2rem !important;
    }

}